.metadata
build
dist
*.pyc
*.pkl
numexpr.egg-info
*GENERATED.cpp
*GENERATED.hpp
*GENERATED.py
numexpr3.egg-info
numexpr3/interpreter*so
numexpr3/interpreter*pyd
numexpr3/__version__.py
numexpr3/__config__.py
doc/_build/
code_generators/ex_include
bench/*.png
.eggs
*.vscode


