.metadata
build
dist
*.pyc
*.pkl
numexpr.egg-info
numexpr/*generated.py
numexpr3.egg-info
numexpr3/E/*
numexpr3/interpreter*so
numexpr3/interpreter*pyd
numexpr3/__version__.py
doc/_build/
code_generators/ex_include
bext
mkl
nogen


