language: python

python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3

before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - pip install -q --use-mirrors numpy
  - python -V

install:
  - pip install .

script:
  - mkdir empty
  - cd empty
  - python -c "import sys;import numexpr;sys.exit(0 if numexpr.test() else 1)"

