arch:
    - amd64
    - arm64
sudo: false

language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8

before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - pip install -q numpy
  - python -V

install:
  - pip install .

script:
  - mkdir empty
  - cd empty
  - python -c "import sys;import numexpr;sys.exit(0 if numexpr.test().wasSuccessful() else 1)"

