include MANIFEST.in

include *.rst *.txt *.cfg site.cfg.example

recursive-include numexpr_mod *.cpp *.hpp *.py
recursive-include numexpr_mod win32 *.c *.h
exclude numexpr_mod __config__.py RELEASING.txt site.cfg

recursive-include bench *.py
