include MANIFEST.in

include *.rst *.txt *.cfg site.cfg.example

recursive-include numexpr3 *.cpp *.hpp *.py
recursive-include numexpr3/win32 *.c *.h
exclude numexpr3/__config__.py
exclude RELEASING.txt

recursive-include code_generators *.py
recursive-include bench *.py
